html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
}

hr {
  height: 5px;
  color: #355e3b;
  background-color: #355e3b;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  right: 0;
  font-family: Montserrat, Roboto, sans-serif;
}

img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fs-logo-building {
  display: flex;
  justify-content: center;
  height: 256px;
  width: auto;
}
ul {
  list-style: none;
  text-align: left;
  padding-left: 2.5em;
}

li {
  font-size: 1.2em;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

option:hover {
  background-color: #9dc8a4;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

h1 {
  font-size: 3em;
  justify-content: center;
}

h2 {
  font-size: 2em;
  text-justify: center;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 20%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: center;
}
.smalltext {
  text-align: left;
}
.left-sidebar-body {
  padding-left: 10px;
  height: 100%;
  bottom: 100px;
  padding-right: 10px;
}

.right-sidebar-body {
  left: 5px;
  height: 80%;
  top: 50px;
}

.sidebar-content-top {
  top: 0px;
  background-color: #355e3b;
  left: 0px;
  right: 0px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  /* height: 284px;
  width: 426px; */
}

.sidebar-toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-top: 10px;
}

.sidebar-toggle.left {
  right: -5em;
}

.sidebar-toggle.right {
  left: -1.5em;
}

.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.live-map-info {
  display: flex;
  flex-direction: column;
}

.assetDropdown {
  display: inline;
  width: -webkit-fill-available;
}

.fa-solid {
  font-size: 30px;
}

.context-box {
  margin: 5%;
  padding: 0.5em;
  border: 10px solid #355e3b;
}

.header {
  text-align: center;
}

#dialog {
  z-index: 5;
}
